<!doctype html>
{% load static %}
<html lang="en">
  <head>
     <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='http://fonts.googleapis.com/css?family=Rokkitt:400,700|Lato:400,300' rel='stylesheet' type='text/css'>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

    <script src="{% static 'ppw/main.js' %}"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'ppw/style.css' %}">
  </head>

  <style>
      #mainNav {
        height: 50px;
        background-color: whitesmoke;
        }

        #mainNav .navbar-toggler {
        font-size: 80%;
        padding: 0.75rem;
        color: #64a19d;
        border: 1px solid #64a19d;
        }

        #mainNav .navbar-toggler:focus {
        outline: none;
        }

        #mainNav .navbar-brand {
        color: #161616;
        font-weight: 700;
        padding: .9rem 0;
        }

        #mainNav .navbar-nav .nav-item:hover {
        color: fade(white, 80%);
        outline: none;
        background-color: transparent;
        }

        #mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
        outline: none;
        background-color: transparent;

        @media (min-width: 992px) {
            #mainNav {
                padding-top: 0;
                padding-bottom: 0;
                border-bottom: none;
                background-color: transparent;
                -webkit-transition: background-color 0.3s ease-in-out;
                transition: background-color 0.3s ease-in-out;
            }
            #mainNav .navbar-brand {
                padding: .5rem 0;
                color: rgba(255, 255, 255, 0.5);
            }
            #mainNav .nav-link {
                -webkit-transition: none;
                transition: none;
                padding: 2rem 1.5rem;
                color: rgba(255, 255, 255, 0.5);
            }
            #mainNav .nav-link:hover {
                color: rgba(255, 255, 255, 0.75);
            }
            #mainNav .nav-link:active {
                color: white;
            }
            #mainNav.navbar-shrink {
                background-color: #fff;
            }
            #mainNav.navbar-shrink .navbar-brand {
                color: #161616;
            }
            #mainNav.navbar-shrink .nav-link {
                color: #161616;
                padding: 1.5rem 1.5rem 1.25rem;
                border-bottom: 0.25rem solid transparent;
            }
            #mainNav.navbar-shrink .nav-link:hover {
                color: #64a19d;
            }
            #mainNav.navbar-shrink .nav-link:active {
                color: #467370;
            }
            #mainNav.navbar-shrink .nav-link.active {
                color: #64a19d;
                outline: none;
                border-bottom: 0.25rem solid #64a19d;
            }
            }
  </style>
    
  <body>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">
              <a class="navbar-brand js-scroll-trigger" href="{% url 'index' %}">Sendhy Nugroho</a>
              <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                Menu
                <i class="fas fa-bars"></i>
              </button>
              <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="{% url 'index' %}">Home</a>
                  </li>
                  <li class="nav-item">
                        <a class="nav-link js-scroll-trigger" href="{% url 'contact' %}">Contact Me</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="https://drive.google.com/file/d/1w3Ct7uGxUlg8-eP2H3pRzk3RpVZfv2NY/view" target="_blank" rel="nofollow" title="Download CV">CV</a>
                  </li>  
                </ul>
              </div>
            </div>
          </nav>
{% block body %}
{% endblock %}
      
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    
  </body>
</html>