{% extends 'ppw/base.html' %}
<!doctype html>
{% load static %}
<html lang="en">
    
   <head>
{% block body %}
        <title>Sendhy nugroho</title>
   </head>

   <style>
       body{
            background-color: #051727;
        }

        .jumbotron{
            background-size: cover;
        }

        .titletext{
            margin-top: 5vw;
            margin-bottom: 5vw;
            color: white
        }

        #about{
            background-color: #03396c;
            padding-left: 7vw;
            padding-right: 7vw;
            padding-top: 5vw;
            padding-bottom: 5vw;
        }

        .padding-0{
            padding-right:0;
            padding-left:0;
        }

        .experience{
            background-color: #0c0b29;
        }

        .card{
            color: azure;
            background-color: #0c0b29;
        }

        #slidetext {
        position: absolute;
        bottom: 0;
        background: rgb(0, 0, 0); /* Fallback color */
        background: rgba(0, 0, 0, 0.8); /* Black background with 0.5 opacity */
        color: #f1f1f1;
        width: %%;
        padding: 20px;
        }

        .aboutbox {
            font-size: 100%;
            position: absolute;
            background-color: snow;
            width: 90%;
            height: 38vw;
            border: 5px solid blue;
            padding:10px;
            top:7vw;
        }
   </style>
    
   <body style="margin:0px; background-color: #051727">

    <div class="jumbotron jumbotron-fluid">
        <div class="container-fluid text-center">
            <img src="{% static 'ppw/images/P_20150524_130131.jpg' %}" width=18% class="rounded-circle img-thumbnail" style="margin-top: 25px">
            <p class="hometext" style="font-size: 4vw; font-family: inherit; color: ghostwhite">
                <b>Hello! I'am <br>
                Sendhy <br>
                Nugroho</b>
            </p>
        </div>
    </div>
    
    <section class="aboutme">
    <div class="container-fluid" id="about">
        <div class="row">
            <div class="col-md-6 padding-0" id="abouttext" style="color: azure; font-family: Verdana, Geneva, Tahoma, sans-serif;">
                <h1 style="margin-bottom: 2vw">About Me</h1>
                <p style="height: 3vw"><i>My Story</i></p>
                <p style="text-align: justify; font-family: Verdana, Geneva, Tahoma, sans-serif; font-size: 100%; margin-right: 20px">
                    My name is Sendhy Nugroho, I have been
                    interested in technology since I was in junior
                    high school, I learned a lot about programming
                    in college. Now, I am training my skills in web
                    and database development. Besides, I am also
                    interested in making an effective and efficient
                    system for the company.
                </p>
            </div>
            <div class="col-md-6 padding-0">
                <img src="{% static 'ppw/images/1501316184922.jpg' %}" alt="about" width=100% height="100%">
            </div>
        </div>
    </div>
    </section>
    
    <section class="education">
    <div class="container">
            <h1 class="text-center titletext" style="font-family: Verdana, Geneva, Tahoma, sans-serif">Education</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="main-timeline3">
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2017</span>
                                <h3 class="title">S1 Sistem Informasi <br> Fakultas Ilmu Komputer UI</h3>
                                <p class="description">
                                    Passed through the written examination (SBMPTN) in 2017.
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2014</span>
                                <h3 class="title">SMAN 31 <br> Jakarta</h3>
                                <p class="description">
                                    Study in mathematics and natural sciences major.
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2011</span>
                                <h3 class="title">SMPN 7 <br> Jakarta</h3>
                                <p class="description">
                                    Graduated in 2014 as a student with the fourth highest national examination score.
                                </p>
                            </a>
                        </div>
                        <div class="timeline">
                            <a href="#" class="timeline-content">
                                <span class="year">2005</span>
                                <h3 class="title">SDN Pisangan Baru 01 <br> Jakarta Timur</h3>
                                <p class="description">
                                    Graduated in 2011 as a student with the highest national examination score.
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
    </div>
    </section>
    
    <section class="experience">
    <div class="container">
        <h1 class="text-center titletext p-5" style="font-family: Verdana, Geneva, Tahoma, sans-serif">Organization Experience</h1>
        <div class="row">
            <div class="col-md">
                <div class="card mb-5">
                      <img class="card-img-top img-thumbnail" src="{% static 'ppw/images/pDcB-vfr_400x400.jpeg' %}" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                            <span style="color: red;"><b>ROHIS SMAN 31 (Academic Dept.)</b><br></span>
                            2014 - 2017 <br><br><br>
                            Academic Department of ROHIS SMAN 31 is a department that has the main goal to help SMAN 31 students, especially Muslim students who have difficulties in academic.<br><br><br>
                        </p>
                      </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mb-5">
                      <img class="card-img-top img-thumbnail" src="{% static 'ppw/images/SMA_31_Jakarta.jpg' %}" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                            <span style="color: red"><b>MPK SMAN 31</b><br></span>
                            2015 - 2017<br><br><br>
                            MPK is the supervisor of policy and the performance of the Intra-School Student Organization (OSIS) which plays an important role in each school.<br><br><br>
                        </p>
                      </div>
                </div>
            </div>
            <div class="col-md">
                <div class="card mb-5">
                      <img class="card-img-top img-thumbnail" src="{% static 'ppw/images/PMe9AKat_400x400.png' %}" alt="Card image cap">
                      <div class="card-body">
                        <p class="card-text" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif">
                            <span style="color: red"><b>FUKI (Dept. Sosial Politik)</b><br></span>
                            2017 - 2018<br><br><br>
                            FUKI is a missionary institution located in the Faculty of Computer Science UI. The FUKI's Department of Political Social is a department that makes social policy and political studies at Faculty of Computer Science University of Indonesia.<br>
                        </p>
                      </div>
                </div>
            </div>
        </div>
    </div>
    </section>

    <section class="skills">
        <div class="container">
            <h1 class="text-center titletext" style="font-family: Verdana, Geneva, Tahoma, sans-serif">Skills</h1>

            <p style="color: antiquewhite"><b>HTML</b></p>
            <div class="progress mb-4" style="height:25px">
                <div class="progress-bar progress-bar-striped progress-bar-animated" style="width:75%;height:25px"></div>
            </div>

            <p style="color: antiquewhite"><b>CSS</b></p>
            <div class="progress mb-4" style="height:25px">
                <div class="progress-bar bg-success progress-bar-striped progress-bar-animated" style="width:65%;height:25px"></div>
            </div>

            <p style="color: antiquewhite"><b>Python</b></p>
            <div class="progress mb-4" style="height:25px">
                <div class="progress-bar bg-info progress-bar-striped progress-bar-animated" style="width:35%;height:25px"></div>
            </div>

            <p style="color: antiquewhite"><b>Java</b></p>
            <div class="progress mb-4" style="height:25px">
                <div class="progress-bar bg-danger progress-bar-striped progress-bar-animated" style="width:60%;height:25px"></div>
            </div>

            <p style="color: antiquewhite"><b>PostgreSQL</b></p>
            <div class="progress mb-4" style="height:25px">
                <div class="progress-bar bg-warning progress-bar-striped progress-bar-animated" style="width:45%;height:25px"></div>
            </div>

        </div>
    </section>

{% endblock %}

   </body>

</html>